footer {
  background-image: url(./assets/Background_Contacts.png);
  width: 100vw;
  height: 787px;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 120px;
}

#header-contacts h2 {
  font: var(--subtitle);
  color: var(--purple);

  display: flex;
  justify-content: center;
}

#header-contacts h1 {
  font: var(--title-md);

  margin-top: 8px;
}

#header-contacts p {
  margin-top: 8px;
}

#links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

#link-card {
  background-color: var(--gray-300);
  width: 400px;
  height: 68px;
  border-radius: 8px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#link-card img {

  &:nth-child(0) {
    object-fit: cover;
    width: 28px;
    height: 28px;
  }

  &:nth-child(2) {
    object-fit: cover;
    width: 20px;
    height: 20px;
  }
}

#link-card p {
  display: flex;
  align-items: center;
  justify-content: left;

  color: var(--gray-500);
}

#link-card:hover {
  color: var(--blue);
  border: 4px;
}