footer {
  background-image: url(./assets/Background_Contacts.png);
  width: 100vw;
  height: 787px;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 120px;
}

#header-contacts h2 {
  font: var(--subtitle);
  color: var(--purple);

  display: flex;
  justify-content: center;
}

#header-contacts h1 {
  font: var(--title-md);

  margin-top: 8px;
}

#header-contacts p {
  margin-top: 8px;
}

#links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.link-card {
  background-color: var(--gray-300);
  width: 400px;
  height: 68px;
  border-radius: 8px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.link-card::after {
  content: " ";
  z-index: 0;
  position: absolute;
  width: 400px;
  height: 68px;
  border-radius: 8px;
  left: 0;
  top: 0;
}

.link-card::before {
  content: " ";
  background: linear-gradient(
    45deg,
    var(--blue), var(--red), var(--green), var(--gray-500)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 500%;
  z-index: -1;
  width: calc(400 + 4px);
  height: calc(68 + 4px);
  filter: blur(8px);

  /* animação */
  animation: glowing  20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

.link-card:hover {
  opacity: 1;
}


.link-card img {

  &:nth-child(0) {
    object-fit: cover;
    width: 28px;
    height: 28px;
  }

  &:nth-child(2) {
    object-fit: cover;
    width: 20px;
    height: 20px;
  }
}

.link-card p {
  display: flex;
  align-items: center;
  justify-content: left;

  color: var(--gray-500);
}
